<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>menu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E248A281C55B2AF00BDAAC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E248A411C55B2AF00BDAAC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E248A4C1C55B2AF00BDAAC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
